<head>
	<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<div>
<ul class="navigation">

		<li  class="nav-item"><a href="/" target="_blank">home</a></li>
		<li  class="nav-item"><a href="admin/products" target="_blank">Products</a></li>
		<li  class="nav-item"><a href="admin/users" target="_blank">Users</a></li>
		<li  class="nav-item"><a href="admin/charges" target="_blank">Transactions</a></li>
		
	</ul>
</div>
<div class="site-wrap">
<h1 id="admin1">HELLO! ADMIN FATIMA!</h1>
<h2 class="admin">WELCOME TO YOUR DATABASE !</h2>
</div>