.navigation {
  /* critical sizing and position styles */
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  
  /* non-critical appearance styles */
  list-style: none;
  background:#330033;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 300px;
  padding: 25px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
  text-align: center;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

.site-wrap {
  /* Critical position and size styles */
  height: 100%;
  width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 0;
  
  /* non-critical apperance styles */
  padding: 4em;
  background-image: linear-gradient(rgb(230, 179, 230) 0%,rgb(249, 236, 249) 35%,rgb(172, 57, 172) 100%);
  background-size: 100%;
}
h2.admin  {
  width: 400px;
  margin: 0 auto 1em;
  padding-left: 100px;
}
h1#admin1 {
    width: 400px;
  margin: 0 auto 1em;
  padding-left: 100px;
}
