/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Carter+One');

 html {
 	height: 100%;
 }
 body {
 	font-size: 100%;

 }
 #backs{
 	height: 100px;
 	text-align: center;
 	font: bold 2.6em 'Carter One', cursive;
 	text-shadow: 0 6px 9px #000;

 }
 h1 {
 	text-align: center;
 	vertical-align: middle;
 	line-height: 90px; 
 	color: #d98cb3; 

 }
 
 h3 {
 	margin: 0 0 10px;
 }
 .wrapper {
 	width: 960px;
 	margin: 0 auto;
 	background-color: #d6d6c2;
 }
 .col-1 {
 	float: left;
 	width: 30%;
 	background-color: white;
 }
 .first {
 	margin: 10px;
 }
 th, td {
 	padding: 15px;
 	text-align: left;
 }
 table, th, td {
 	border: 1px solid black;
 }
 th {
 	background-color: #aeaca8;

 }
 strong.strip {
 	color: #eee;
 }

 input {
 	width: 375px;
 	display: block;
 	border: 1px solid #999;
 	height: 25px;
 	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
 	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
 	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
 }

 .form {
 	background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
 	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
 	background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
 	margin: auto;
 	position: relative;
 	width: 550px;
 	height: 450px;
 	font-family: Tahoma, Geneva, sans-serif;
 	font-size: 14px;
 	font-style: italic;
 	line-height: 24px;
 	font-weight: bold;
 	color: #09C;
 	text-decoration: none;
 	border-radius: 10px;
 	padding: 10px;
 	border: 1px solid #999;
 	border: inset 1px solid #333;
 	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
 	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
 	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
 }

 .shadow {
 	box-shadow: 0 5px 15px #333;
 }
 #wood {
 	background: url(../../images/dark-wood.jpg) no-repeat center top;
 	background-size: cover;
 }
 img, video, audio, iframe, table, form {
 	width: 100%; /* IE */
 	max-width: 100%; /* FF, Safari, Chrome */
 }
 .clearfix:after {
 	content: ".";
 	display: block;
 	clear: both;
 	visibility: hidden;
 	height: 0;
 	line-height: 0;
 }

 .clear {
 	clear:both;
 }
 
 figure {
 	height: 180px;
 }
 .img-product{
 	max-height: 200px;
 }

 nav, footer {
 	clear: both;
 	color: #ffffff;
 	background-color: #aeaca8;
 	height: 30px;}
 	nav ul {
 		margin: 0px;
 		padding: 5px 0px 5px 30px;}
 		nav li {
 			display: inline;
 			margin-right: 40px;}
 			nav li a {
 				color: #ffffff;}
 				nav li a:hover, nav li a.current {
 					color: blue;}

 					a {
 						color: #de6581;
 						text-decoration: none;}
 						 h2, h3,h4 {
 							font-weight: bolder;
 							color: #d6d6c2;
 						}
 		
 								h2,h3,h4 {
 									margin: 10px;
 									padding: 2px;
 									color: #de6581;
 								}

 									footer {
 										text-align: center; 
 										font-size: 0.75em;
 										padding: 5px;
 										border-top: 1px solid; 
 										color: #000;
 									}




